extends layout.jade
block content
  .container
    .row
      .box
        .col-lg-12.text-center
          #carousel-example-generic.carousel.slide
            // Indicators
            ol.carousel-indicators.hidden-xs
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              |                         
              li(data-target='#carousel-example-generic', data-slide-to='1')
            // Wrapper for slides
            .carousel-inner                       
              .item.active
                img.img-responsive.img-full(src='../img/slide-2.jpg', alt='')
              |                         
              .item
                img.img-responsive.img-full(src='../img/slide-3.jpg', alt='')
            // Controls
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.icon-prev
            |                     
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.icon-next
          |                 
          h2.brand-before
            small Добро пожаловать
          |                 
          h1.brand-name BookPleasure
          |                 
          hr.tagline-divider
          | 
          p 
            |Хочется чего-то книжно-непредсказуемого?
            |BookPleasure - в помощь!
            |Зачем тратить время на поиски и выбор книги, если можно довериться фортуне и нам?                    
      
    .row
      .box
        .col-lg-12
          hr
          |                 
          h2.intro-text.text-center
            |Книжное удовольствие                 
          hr
          |                               
          p
            |BookPleasure - книжный бокс, при открытии которого вы получаете билет в мир наслаждений. Верните незабываемый миг из детства, когда не знаешь, что же спрятано в коробке. Подарите себе настоящий сюрприз.
            |Подписываясь на букбокс, вы станете обладателем не только интересного чтива, но и 5-7 забавных вещиц, которыми мы вас обязательно порадуем.
            |Каждый месяц наша команда формирует букбоксы согласно выбранной тематике. Будьте в теме, будьте клёвыми ;)
          p 
            |Кто проживает на дне...букбокса?
            ul
              li Отличная книга (как правило, мы стремимся предлагать новинки, которые только-только поступят в продажу);
              li Различный книжный стафф - для создания особой атмосферы (нужно поддерживать
                |fangirling на уровне): закладки, плакаты, открытки, значки, сумки и т.д. Это может быть что угодно!
  // /.container
