extends background.jade

doctype html(lang='en')

block menu
    nav.navbar.navbar-default(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
              span.icon-bar
          // navbar-brand is hidden on larger screens, but visible when the menu is collapsed
          a.navbar-brand(href='index.html') BookPleasure
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='index.html') &CHcy;&tcy;&ocy; &ecy;&tcy;&ocy; &tcy;&acy;&kcy;&ocy;&iecy;
                li
                    a(href='order.html') &Bcy;&ocy;&kcy;&scy;&ycy;
                li
                    a(href='stuff.html') &Scy;&tcy;&acy;&fcy;&fcy;
                li
                    a(href='faq.html') &Ocy;&tcy;&vcy;&iecy;&tcy;&ycy; &ncy;&acy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
                li
                    a(href='contact.html') &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;

          // /.navbar-collapse
      // /.container

    block content
