doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title BookPleasure - main page
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    |     
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic', rel='stylesheet', type='text/css')
      
  body
    .brand
      img(src='../img/logo3.svg', alt='BookPleasure')
    // Navigation
    nav.navbar.navbar-default(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                 
            span.icon-bar
            |                 
            span.icon-bar
            |                 
            span.icon-bar
            |                 
            span.icon-bar
          // navbar-brand is hidden on larger screens, but visible when the menu is collapsed
          a.navbar-brand(href='index.html') BookPleasure
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='index.html') &CHcy;&tcy;&ocy; &ecy;&tcy;&ocy; &tcy;&acy;&kcy;&ocy;&iecy;
            |                 
            li
              a(href='order.html') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
            |                 
            li
              a(href='faq.html') &Ocy;&tcy;&vcy;&iecy;&tcy;&ycy; &ncy;&acy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
            |                 
            li
              a(href='contact.html') &Ocy;&bcy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &scy;&vcy;&yacy;&zcy;&softcy;
        // /.navbar-collapse
      // /.container

    block content
      
    footer
      .container
        .row
          .col-lg-12.text-center
            p Copyright © BookPleasure 2016
